// [if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]
// [if IE 7 ]><html class="ie ie7" lang="en"> <![endif]
// [if IE 8 ]><html class="ie ie8" lang="en"> <![endif]
// [if (gte IE 9)|!(IE)]><html lang="en"> <![endif]
html
  head
    meta(charset="utf-8")
    title Profanity and Profundity - Kyle Shipley's Blog
    meta(name="description", content="")
    meta(name="author", content="Kyle Shipley")

    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    link(rel="stylesheet", href="/stylesheets/main.css")
    script(src="/javascripts/prism.js", data-manual)
    script(src="/javascripts/prism-ruby.js")

    // [if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]

    link(rel="shortcut icon", href="/images/favicon.ico")
    link(rel="apple-touch-icon", href="/images/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/images/apple-touch-icon-114x114.png")

  body
    - contentClass = current.path[0] == "posts" ? "post" : ""

    .container
      .four.columns.sidebar
        nav
          h2.brand
            a(href="/")
              | Profanity & Profundity
          h5 Mostly the former

        .info
          img.avatar(src="/images/kyle.jpeg")
          .bio
            p I'm <a href="https://twitter.com/kyleashipley">@kyleashipley</a>.
            p
              | I <a href="https://github.com/shipstar">write code</a>, usually
              | in Ruby or JavaScript, and very infrequently words at this site.
            p
              | You will find me at <a href="http://www.ourhealth.org">OurHealth</a>
              | these days as the Head of Product & Engineering. We are doing
              | Neat Stuff™ in healthcare and are
              | <a href="https://www.ourhealth.org/about-us/careers/#jobs">currently hiring</a>.
      .eleven.columns.content(class=contentClass)



        if current.path[0] == "posts"
          a(href='/') < Home
          br
          br
          .date= locals.date
          != partial("posts/_time.jade", { timeToRead: locals.timeToRead, timeToFollow: locals.timeToFollow })

        != yield

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43659103-1', 'kyleshipley.com');
      ga('send', 'pageview');

    script.
      // Possibly hyper-aggressive Ruby highlighting.
      var codeBlocks = document.getElementsByTagName("code");
      for (var i = 0; i < codeBlocks.length; i++) {
        var block = codeBlocks[i];
        if (block.textContent.match(/def\b|\.rb|@\w*\b|\(main\)|\bend\b|[A-Z]\w*\.new/)) {
          block.className += "language-ruby";
        }
      };
      Prism.highlightAll();
