@import "fonts.css"
@import "base.css"
@import "layout.css"
@import "skeleton.css"
@import "font-awesome.css"
@import "prism.css"

*
  box-sizing: border-box

html
  border-left: 7px solid #9c0034
  min-height: 100%

body
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 16px

h1, h2, h3, h4, h5, h6
  font-family: "Abel", "Georgia", "Times New Roman", serif

a, a:visited
  text-decoration: none
  color: #9C0034

p
  font-size: 16px

.sidebar
  padding-top: 25px

  .info
    position: relative
    left: -20px
    margin-top: 30px
    padding: 10px 20px
    background-color: #f3f3f3
    border-radius: 10px
    text-align: center

    .avatar
      margin-bottom: 10px
      border-radius: 50%

    .bio
      text-align: left

.content
  padding-top: 25px

.posts
  .date
    display: inline-block
    width: 120px

.post
  .length
    i
      margin-right: 5px
    color: #888

  p.image
    text-align: center

    &:not(.iphone)
      img
        border: 1px solid #ccc
        box-shadow: 1px 1px 7px -1px #ccc

  pre
    width: 95%
    padding: 2%
    background: #eee
    border: 1px solid #9ee9ec
    border-radius: 5px
    overflow-x: scroll
    font-family: monaco, courier, monospace
    font-size: 13px
    margin: 1em 0
